/cache/*.pkl
.vscode
*/**/__pycache__
*/__pycache__
**/*/*.pth
*/*.pth
*/**/*.pkl
*.pth
log

!/cache/user_info.pkl
!/cache/movie_info.pkl
!/cache/train_readlist.pkl
!/cache/val_data.pkl
!/cache/readlist.pkl
!/cache/user_fe.pkl
